.forecast-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.glass-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    .time,
    .condition,
    .temp {
        flex: 1;
    }

    .time p {
        font-size: 0.9rem;
        opacity: 0.8;
        margin: 0;
    }

    .condition {
        text-align: center;

        p {
            text-transform: capitalize;
            margin: 0;
            font-size: 1rem;
        }
    }

    .temp {
        text-align: right;

        h2 {
            margin: 0;
            font-weight: 500;
        }
    }
}