<div class="forecast-container" *ngIf="items.length > 0">
  <div class="glass-item" *ngFor="let item of items">
    <div class="time">
      <ion-text color="light">
        <p>{{ item.dt_txt | date:'EEE, HH:mm' }}</p>
      </ion-text>
    </div>
    <div class="condition">
      <ion-text color="light">
        <p>{{ item.weather[0].description }}</p>
      </ion-text>
    </div>
    <div class="temp">
      <ion-text color="light">
        <h2>{{ item.main.temp | number:'1.0-0' }}º</h2>
      </ion-text>
    </div>
  </div>
</div>