<div class="forecast-container" *ngIf="items.length > 0">
  <div class="glass-item" *ngFor="let item of items">
    <div class="time">
      <ion-text color="light">
        <!-- Display Day Name (e.g., "Monday") -->
        <p>{{ item.dt_txt | date:'EEEE':'':currentLang }}</p>
      </ion-text>
    </div>
    <div class="condition">
      <ion-text color="light">
        <p>{{ item.weather[0].description }}</p>
      </ion-text>
    </div>
    <div class="icon-col">
      <ion-icon [name]="getWeatherIcon(item.weather[0].icon)" style="font-size: 1.8rem; color: #fff;"></ion-icon>
    </div>
    <div class="temp">
      <ion-text color="light">
        <!-- Display Max / Min -->
        <h2>{{ item.max | number:'1.0-0' }}º / {{ item.min | number:'1.0-0' }}º</h2>
      </ion-text>
    </div>
  </div>
</div>