<ion-card class="glass-card" *ngIf="weather">
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-text-center">
        <!-- Icon Row -->
        <ion-col size="12">
          <ion-icon [name]="icon"
            style="font-size: 8rem; color: #fff; filter: drop-shadow(0 0 10px rgba(255,255,255,0.5));"></ion-icon>
        </ion-col>

        <ion-col size="12">
          <ion-text color="light">
            <h2 class="city-name">{{ weather.name }}</h2>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text color="light">
            <h1 class="temperature">{{ weather.main.temp | number:'1.0-0' }}º</h1>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text color="light">
            <p class="description">
              {{ weather.weather[0].description }}
              {{ weather.main.temp_max | number:'1.0-0' }}º/{{ weather.main.temp_min | number:'1.0-0' }}º
            </p>
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="uvIndex > 0">
          <div class="uv-badge">
            <ion-text color="light">UV: {{ uvIndex | number:'1.0-0' }}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>