<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'WEATHER_APP' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-segment [value]="currentLang" (ionChange)="changeLanguage($event)"
        style="width: 120px; --background: rgba(255,255,255,0.2);">
        <ion-segment-button value="es">
          <ion-label>ES</ion-label>
        </ion-segment-button>
        <ion-segment-button value="en">
          <ion-label>EN</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-weather">
  <div class="container">

    <!-- Search Section -->
    <div class="search-container">
      <ion-searchbar animated="true" [placeholder]="'SEARCH_PLACEHOLDER' | translate" [(ngModel)]="searchTerm"
        (ionInput)="searchCity()" class="custom-searchbar">
      </ion-searchbar>

      <ion-button fill="clear" class="location-btn" (click)="getCurrentLocation()">
        <ion-icon slot="icon-only" name="locate" color="light"></ion-icon>
      </ion-button>
    </div>

    <!-- Weather Card (Only shown if data exists) -->
    <app-weather-card *ngIf="weatherData" [weather]="weatherData" [uvIndex]="uvIndex"
      [icon]="currentIcon"></app-weather-card>

    <!-- Forecast List (Only shown if data exists) -->
    <app-forecast-list *ngIf="forecastList.length > 0" [items]="forecastList"
      [currentLang]="currentLang"></app-forecast-list>
  </div>
</ion-content>