<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-weather">
  <div class="container">

    <!-- Search Section -->
    <div class="search-container">
      <ion-searchbar animated="true" placeholder="Buscar ciudad..." [(ngModel)]="searchTerm" (ionInput)="searchCity()"
        class="custom-searchbar">
      </ion-searchbar>

      <ion-button fill="clear" class="location-btn" (click)="getCurrentLocation()">
        <ion-icon slot="icon-only" name="locate" color="light"></ion-icon>
      </ion-button>
    </div>

    <!-- Weather Card (Only shown if data exists) -->
    <app-weather-card *ngIf="weatherData" [weather]="weatherData" [uvIndex]="uvIndex"
      [icon]="currentIcon"></app-weather-card>

    <!-- Forecast List (Only shown if data exists) -->
    <app-forecast-list *ngIf="forecastList.length > 0" [items]="forecastList"></app-forecast-list>
  </div>
</ion-content>