.background-weather {
  --background: linear-gradient(180deg, #2b5876 0%, #4e4376 100%);
  /* Fallback or nice dark gradient to make glassmorphism pop */
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

ion-toolbar {
  --background: transparent;
  --color: white;
  position: absolute;
  top: 0;
  width: 100%;
}